In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv("flat_prices.csv")

In [63]:
df

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [65]:
df.drop(columns=["Dimensions", "Plot Area"], inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 27.2+ MB

In [67]:
df.drop(columns=["Index"]).duplicated().sum()

np.int64(119339)

In [68]:
df = df[~df.drop(columns=["Index"]).duplicated(keep=False)]

In [69]:
df.duplicated().sum()

np.int64(0)

In [70]:
df

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
77,77,3 BHK Ready to Occupy Flat for sale in Crystal...,This beautiful 3 BHK Flat is available for sal...,3.10 Cr,15122.0,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,2050 sqft
113,113,2 BHK Ready to Occupy Flat for sale in Sunrise...,"Kolshet Road, Thane has an appealing 2 BHK fla...",95 Lac,12179.0,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft

In [71]:
df["Description"].value_counts

<bound method IndexOpsMixin.value_counts of 0         Bhiwandi, Thane has an attractive 1 BHK Flat f...
1         One can find this stunning 2 BHK flat for sale...
2         Up for immediate sale is a 2 BHK apartment in ...
77        This beautiful 3 BHK Flat is available for sal...
113       Kolshet Road, Thane has an appealing 2 BHK fla...
                                ...
187526    This magnificent 3 BHK Flat is available for s...
187527    Have a look at this immaculate 3 BHK flat for ...
187528    Gazipur, Zirakpur has an appealing 3 BHK flat ...
187529    Up for immediate sale is a 2 BHK apartment in ...
187530    This exquisite 3 BHK Flat is offered for sale ...
Name: Description, Length: 65239, dtype: object>

In [72]:
df.drop(columns=['Description'], inplace= True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\982002235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Description'], inplace= True)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65239 entries, 0 to 187530
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              65239 non-null  int64
 1   Title              65239 non-null  object
 2   Amount(in rupees)  65239 non-null  object
 3   Price (in rupees)  59634 non-null  float64
 4   location           65239 non-null  object
 5   Carpet Area        36141 non-null  object
 6   Status             64951 non-null  object
 7   Floor              62745 non-null  object
 8   Transaction        65166 non-null  object
 9   Furnishing         64022 non-null  object
 10  facing             39576 non-null  object
 11  overlooking        36910 non-null  object
 12  Society            27610 non-null  object
 13  Bathroom           64789 non-null  object
 14  Balcony            47530 non-null  object
 15  Car Parking        27528 non-null  object
 16  Ownership          41367 non-null  object
 17  Super Area         28977 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 9.5+ MB

In [74]:
df.drop(columns=['Index'], inplace= True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\2388591127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Index'], inplace= True)

In [75]:
df.shape

(65239, 17)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65239 entries, 0 to 187530
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              65239 non-null  object
 1   Amount(in rupees)  65239 non-null  object
 2   Price (in rupees)  59634 non-null  float64
 3   location           65239 non-null  object
 4   Carpet Area        36141 non-null  object
 5   Status             64951 non-null  object
 6   Floor              62745 non-null  object
 7   Transaction        65166 non-null  object
 8   Furnishing         64022 non-null  object
 9   facing             39576 non-null  object
 10  overlooking        36910 non-null  object
 11  Society            27610 non-null  object
 12  Bathroom           64789 non-null  object
 13  Balcony            47530 non-null  object
 14  Car Parking        27528 non-null  object
 15  Ownership          41367 non-null  object
 16  Super Area         28977 non-null  object
dtypes: float64(1), object(16)
memory usage: 9.0+ MB

In [77]:
print(df['Price (in rupees)'].describe())

count    5.963400e+04
mean     6.512120e+03
std      4.545513e+04
min      0.000000e+00
25%      3.800000e+03
50%      5.000000e+03
75%      6.883000e+03
max      6.700000e+06
Name: Price (in rupees), dtype: float64

In [78]:
df

,Title,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
77,3 BHK Ready to Occupy Flat for sale in Crystal...,3.10 Cr,15122.0,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,2050 sqft
113,2 BHK Ready to Occupy Flat for sale in Sunrise...,95 Lac,12179.0,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft
187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft
187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN
187529,2 BHK Ready to Occupy Flat for sale in Friends...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft
187530,3 BHK Ready to Occupy Flat for sale in Affinit...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65239 entries, 0 to 187530
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              65239 non-null  object
 1   Amount(in rupees)  65239 non-null  object
 2   Price (in rupees)  59634 non-null  float64
 3   location           65239 non-null  object
 4   Carpet Area        36141 non-null  object
 5   Status             64951 non-null  object
 6   Floor              62745 non-null  object
 7   Transaction        65166 non-null  object
 8   Furnishing         64022 non-null  object
 9   facing             39576 non-null  object
 10  overlooking        36910 non-null  object
 11  Society            27610 non-null  object
 12  Bathroom           64789 non-null  object
 13  Balcony            47530 non-null  object
 14  Car Parking        27528 non-null  object
 15  Ownership          41367 non-null  object
 16  Super Area         28977 non-null  object
dtypes: float64(1), object(16)
memory usage: 9.0+ MB

In [80]:
df["Amount(in rupees)"][77]

'3.10 Cr '

In [81]:
# Reset the index after dropping duplicates
df.reset_index(drop=True, inplace=True)

In [82]:
import re

sale_price_cr = []
for i in range(df.shape[0]):
    # Access the value using iloc to avoid KeyError
    amount = df.iloc[i]["Amount(in rupees)"]
    
    # Check if there's any numeric value in the string (handles decimals, commas, etc.)
    if bool(re.search(r'\d', amount)):  # If there is any digit in the string
        # Split the amount into value and unit
        split_amount = amount.split()
        
        # Check if the unit is 'lac'
        if len(split_amount) == 2 and split_amount[1].lower() == 'lac':
            # Convert the amount to float and divide by 100 for 'lac'
            sale_price_cr.append(float(split_amount[0]) / 100)
        else:
            # Otherwise, just append the value as it is (convert to float)
            sale_price_cr.append(float(split_amount[0]))
    else:
        # If no numeric value is found (e.g., 'Call for Price'), set to NaN
        sale_price_cr.append(np.nan)

In [83]:
sale_price_cr

[0.42,
 0.98,
 1.4,
 3.1,
 0.95,
 0.38,
 0.6,
 0.68,
 0.185,
 0.3,
 1.3,
 0.8,
 nan,
 5.55,
 12.5,
 3.0,
 6.0,
 0.258,
 1.45,
 2.0,
 0.55,
 0.45,
 0.35,
 0.88,
 0.25,
 0.9,
 1.0,
 0.93,
 0.93,
 0.55,
 0.23,
 0.85,
 0.9,
 0.65,
 0.25,
 0.28,
 0.255,
 2.3,
 1.15,
 0.51,
 0.35,
 0.45,
 0.25,
 0.27,
 0.42,
 2.15,
 0.25,
 0.6,
 0.75,
 0.27,
 0.45,
 0.34,
 nan,
 0.2,
 0.61,
 0.48,
 0.26,
 5.5,
 nan,
 0.42,
 0.55,
 0.8,
 0.76,
 0.57,
 nan,
 0.45,
 1.1,
 1.71,
 1.25,
 0.81,
 0.9,
 0.35,
 1.2,
 0.58,
 0.48,
 0.57,
 0.9,
 0.34,
 0.45,
 0.3,
 0.42,
 0.5,
 0.65,
 0.654,
 0.68,
 0.68,
 0.77,
 1.44,
 nan,
 0.65,
 2.2,
 0.45,
 1.2,
 0.25,
 0.4,
 0.25,
 1.7,
 0.56,
 0.435,
 0.35,
 0.53,
 1.0,
 0.55,
 0.56,
 2.09,
 nan,
 1.2,
 1.25,
 nan,
 0.52,
 1.3,
 1.31,
 1.35,
 1.35,
 1.35,
 1.45,
 0.499,
 1.3,
 1.37,
 0.62,
 1.3,
 0.68,
 0.69,
 0.8,
 0.8,
 0.43,
 0.55,
 nan,
 0.7,
 2.02,
 1.5,
 1.68,
 0.72,
 2.1,
 0.37,
 0.55,
 1.6,
 1.1,
 1.3,
 1.6,
 1.1,
 0.22,
 0.28,
 5.21,
 0.6,
 1.41,
 0.55,
 0.45,
 0.040999999999999995,
 0.039,
 0.040999999999999995,
 0.47,
 0.99,
 1.15,
 0.32,
 0.78,
 2.0,
 0.99,
 5.2,
 5.5,
 2.87,
 5.21,
 0.95,
 9.0,
 0.48,
 0.75,
 0.7,
 0.28,
 1.28,
 0.9,
 2.12,
 0.72,
 0.58,
 1.4,
 0.4,
 0.5,
 1.16,
 0.6,
 0.55,
 1.58,
 1.15,
 0.68,
 0.65,
 0.85,
 0.27,
 0.35,
 0.21,
 0.51,
 0.72,
 1.3,
 0.73,
 0.75,
 0.62,
 1.01,
 0.6,
 nan,
 0.75,
 0.72,
 0.75,
 0.8,
 0.53,
 0.4,
 0.67,
 0.43,
 1.6,
 0.5,
 0.62,
 0.65,
 0.75,
 0.14,
 0.58,
 0.82,
 1.0,
 0.47,
 0.5,
 0.97,
 0.88,
 1.3,
 nan,
 0.225,
 0.228,
 0.9,
 0.9,
 0.65,
 0.23,
 0.48,
 0.4,
 0.21,
 0.4,
 0.6,
 0.26,
 0.4,
 1.0,
 0.245,
 0.45,
 1.0,
 0.42,
 0.45,
 0.45,
 0.51,
 1.3,
 0.64,
 0.14300000000000002,
 0.8,
 1.2,
 0.48,
 0.58,
 0.67,
 0.58,
 0.58,
 2.25,
 1.18,
 1.1,
 1.52,
 3.4,
 0.65,
 0.53,
 0.64,
 0.52,
 2.28,
 0.65,
 2.25,
 0.53,
 0.68,
 0.574,
 2.24,
 0.61,
 0.42,
 0.5,
 0.58,
 0.235,
 nan,
 0.195,
 0.85,
 0.58,
 1.75,
 0.565,
 0.49,
 2.75,
 1.59,
 5.45,
 1.4,
 1.51,
 0.35,
 1.3,
 1.2,
 1.1,
 0.75,
 3.35,
 0.17,
 0.85,
 2.8,
 1.5,
 0.29,
 0.31,
 1.85,
 1.5,
 1.51,
 0.3,
 nan,
 0.32,
 0.45,
 0.455,
 0.46,
 1.51,
 1.95,
 2.0,
 0.3,
 nan,
 1.2,
 0.57,
 2.55,
 1.65,
 1.12,
 5.5,
 0.522,
 0.42,
 0.55,
 0.46,
 0.612,
 1.5,
 1.5,
 1.56,
 1.42,
 1.35,
 1.57,
 nan,
 0.5,
 0.74,
 0.85,
 0.4,
 0.58,
 0.51,
 0.52,
 0.715,
 0.65,
 0.89,
 1.6,
 1.0,
 0.6,
 1.95,
 0.6,
 1.25,
 0.68,
 1.15,
 1.15,
 0.56,
 0.62,
 0.45,
 0.6,
 0.56,
 0.7,
 0.75,
 0.68,
 0.64,
 0.452,
 1.1,
 0.71,
 0.73,
 1.6,
 nan,
 0.5,
 0.72,
 0.8,
 1.82,
 2.29,
 0.18,
 0.19,
 0.16,
 3.7,
 1.12,
 1.51,
 0.54,
 1.3,
 0.72,
 1.25,
 3.25,
 3.44,
 3.44,
 3.44,
 1.35,
 3.45,
 0.85,
 0.85,
 0.9,
 0.9,
 0.574,
 1.3,
 0.45,
 0.9,
 1.2,
 0.72,
 0.6,
 11.0,
 1.4,
 1.2,
 1.3,
 1.5,
 0.155,
 0.23,
 1.5,
 0.29,
 0.7,
 0.72,
 0.728,
 0.73,
 0.75,
 0.98,
 0.36,
 2.3,
 0.62,
 4.21,
 0.35,
 0.59,
 0.659,
 2.85,
 0.25,
 0.66,
 0.54,
 1.8,
 0.42,
 0.37,
 0.418,
 0.42,
 0.42,
 0.63,
 0.84,
 0.26,
 1.4,
 1.4,
 1.4,
 0.385,
 0.8,
 0.5,
 1.5,
 0.34,
 0.395,
 0.4,
 1.14,
 0.59,
 0.73,
 0.48,
 0.45,
 2.4,
 0.48,
 0.17,
 0.4,
 nan,
 3.35,
 1.62,
 0.43,
 0.58,
 nan,
 0.15,
 0.62,
 0.43,
 0.71,
 0.6,
 6.5,
 1.1,
 1.7,
 0.18,
 1.19,
 0.4,
 0.725,
 1.4,
 0.7,
 0.19,
 1.05,
 0.87,
 0.95,
 2.8,
 0.9,
 3.15,
 1.6,
 2.1,
 2.0,
 0.75,
 1.21,
 1.41,
 0.7,
 0.7,
 0.75,
 0.75,
 0.82,
 0.83,
 nan,
 0.95,
 0.42,
 2.65,
 0.58,
 1.5,
 1.0,
 2.15,
 0.4,
 0.75,
 0.44,
 0.6,
 1.21,
 0.5,
 6.72,
 2.95,
 0.13,
 0.55,
 0.7,
 0.51,
 0.75,
 0.7709999999999999,
 0.78,
 0.79,
 0.8,
 0.8,
 0.83,
 2.25,
 0.317,
 0.21,
 0.7,
 0.7,
 0.574,
 6.25,
 0.95,
 0.73,
 0.58,
 4.25,
 0.84,
 0.245,
 0.25,
 0.255,
 0.225,
 3.0,
 2.7,
 0.62,
 0.95,
 0.23,
 0.62,
 0.9,
 2.31,
 0.45,
 0.51,
 0.55,
 2.03,
 2.5,
 0.51,
 0.64,
 0.65,
 2.65,
 0.97,
 5.5,
 0.59,
 2.11,
 1.35,
 0.565,
 0.55,
 3.39,
 0.55,
 0.4,
 0.7,
 1.1,
 1.1,
 1.21,
 0.6,
 0.71,
 0.57,
 1.05,
 0.27,
 0.58,
 0.22,
 nan,
 0.46,
 0.4,
 0.33,
 3.0,
 0.28,
 2.46,
 0.15,
 0.26,
 nan,
 0.45,
 0.54,
 0.18,
 nan,
 5.0,
 0.95,
 0.86,
 2.25,
 3.71,
 3.81,
 3.91,
 4.0,
 4.0,
 4.0,
 0.98,
 1.0,
 1.05,
 2.15,
 0.56,
 0.82,
 0.34,
 2.37,
 0.44,
 1.1,
 0.35,
 0.65,
 0.4,
 0.88,
 0.48,
 0.66,
 3.65,
 0.35,
 1.65,
 0.32,
 0.503,
 2.5,
 0.72,
 2.81,
 1.25,
 0.5,
 1.45,
 0.38,
 11.0,
 3.5,
 2.33,
 0.65,
 0.4,
 0.76,
 0.85,
 3.5,
 3.6,
 3.75,
 3.75,
 0.65,
 1.31,
 1.55,
 0.99,
 0.97,
 1.0,
 1.0,
 nan,
 0.96,
 1.31,
 1.21,
 0.4,
 nan,
 2.3,
 0.33,
 1.3,
 0.55,
 0.51,
 1.4,
 1.29,
 1.15,
 0.6,
 3.7,
 3.75,
 0.41,
 0.56,
 0.57,
 0.55,
 0.42,
 9.66,
 1.65,
 2.9,
 0.95,
 0.8,
 0.4,
 0.1,
 0.995,
 0.95,
 3.6,
 0.955,
 1.75,
 0.68,
 0.225,
 0.56,
 nan,
 0.56,
 nan,
 1.45,
 0.8,
 1.55,
 0.608,
 0.581,
 0.705,
 0.8390000000000001,
 0.7,
 0.32,
 0.245,
 nan,
 0.455,
 nan,
 0.74,
 0.7,
 nan,
 0.5,
 nan,
 1.35,
 1.66,
 nan,
 1.5,
 2.0,
 2.0,
 1.5,
 1.0,
 2.11,
 0.45,
 0.25,
 2.5,
 0.62,
 0.39,
 0.56,
 0.35,
 0.6,
 2.13,
 0.3,
 2.21,
 0.47,
 1.15,
 0.18,
 1.85,
 0.95,
 3.2,
 1.05,
 0.54,
 0.65,
 0.6,
 0.4,
 0.84,
 0.25,
 nan,
 0.28,
 0.59,
 1.3,
 0.68,
 0.25,
 1.02,
 0.5760000000000001,
 2.85,
 0.45,
 0.97,
 0.35,
 2.5,
 0.55,
 0.655,
 0.75,
 0.74,
 nan,
 1.08,
 0.43,
 0.45,
 0.455,
 0.3,
 0.5,
 0.44,
 1.3,
 1.65,
 0.75,
 0.65,
 0.9,
 0.32,
 0.515,
 0.65,
 0.45,
 0.72,
 0.65,
 0.75,
 1.2,
 nan,
 2.7,
 0.85,
 1.3,
 0.38,
 0.27,
 1.6,
 2.0,
 0.3,
 4.8,
 1.75,
 0.57,
 8.0,
 0.61,
 2.12,
 0.55,
 0.41,
 0.39,
 0.85,
 0.62,
 1.6,
 7.0,
 1.35,
 2.1,
 0.42,
 0.6,
 0.85,
 nan,
 1.65,
 1.4,
 1.6,
 0.37,
 0.625,
 1.5,
 0.68,
 1.72,
 1.4,
 0.31,
 0.65,
 4.1,
 0.39,
 0.95,
 nan,
 4.0,
 1.48,
 1.15,
 0.295,
 0.245,
 0.3,
 0.55,
 0.18,
 0.22,
 0.47,
 0.87,
 1.65,
 0.685,
 2.0,
 0.68,
 7.35,
 1.02,
 1.65,
 4.54,
 0.32,
 3.2,
 1.44,
 1.51,
 1.61,
 2.49,
 1.5,
 0.65,
 0.8,
 0.78,
 3.8,
 0.485,
 0.57,
 0.83,
 1.6,
 1.1,
 0.19,
 0.36,
 0.65,
 1.57,
 0.585,
 0.65,
 0.597,
 0.52,
 2.1,
 0.65,
 0.45,
 0.55,
 0.34,
 1.41,
 0.8,
 3.7,
 0.35,
 0.52,
 0.95,
 3.5,
 1.05,
 0.512,
 3.35,
 0.38,
 0.2,
 0.19,
 0.19,
 2.5,
 0.25,
 nan,
 0.44,
 0.5,
 0.6,
 5.0,
 0.51,
 0.77,
 0.19,
 0.73,
 0.66,
 2.0,
 2.05,
 2.5,
 1.6,
 1.25,
 3.53,
 1.1,
 0.42,
 0.54,
 4.68,
 1.29,
 1.28,
 4.25,
 0.81,
 0.28,
 0.31,
 nan,
 0.54,
 0.905,
 0.7,
 0.589,
 0.45,
 0.54,
 0.53,
 0.58,
 0.7,
 0.5,
 0.475,
 0.18,
 nan,
 0.5489999999999999,
 0.55,
 0.58,
 0.59,
 0.35,
 0.53,
 0.9,
 1.8,
 0.54,
 0.4,
 1.55,
 0.38,
 2.2,
 1.5,
 0.935,
 1.4,
 1.3,
 0.65,
 0.45,
 2.5,
 2.5,
 0.53,
 nan,
 0.57,
 0.575,
 0.75,
 0.3,
 1.05,
 7.06,
 nan,
 0.335,
 0.55,
 0.19,
 2.5,
 0.57,
 0.25,
 1.23,
 nan,
 1.9,
 0.59,
 0.49,
 1.02,
 0.7,
 3.8,
 0.35,
 0.68,
 0.40700000000000003,
 0.45,
 0.49,
 0.28,
 0.42,
 0.4,
 0.42,
 1.8,
 0.36,
 1.85,
 3.85,
 2.75,
 0.27,
 0.45,
 0.66,
 0.36,
 0.45,
 0.29,
 0.2,
 0.41,
 0.62,
 1.25,
 1.18,
 1.5,
 nan,
 1.02,
 0.5,
 0.494,
 0.26,
 0.25,
 2.1,
 0.499,
 nan,
 0.44,
 0.733,
 0.4,
 0.65,
 0.62,
 1.35,
 0.55,
 0.55,
 ...]

In [84]:
sum([1 for value in sale_price_cr if pd.isna(value)])

2807

In [85]:
df["SalePrice(in Crores)"] = sale_price_cr

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\199114191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SalePrice(in Crores)"] = sale_price_cr

In [86]:
df

,Title,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,SalePrice(in Crores)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,0.42
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,0.98
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,1.40
3,3 BHK Ready to Occupy Flat for sale in Crystal...,3.10 Cr,15122.0,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,2050 sqft,3.10
4,2 BHK Ready to Occupy Flat for sale in Sunrise...,95 Lac,12179.0,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,3 BHK Ready to Occupy Flat for sale in Bollywo...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,0.63
65235,3 BHK Ready to Occupy Flat for sale in Sushma ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,0.55
65236,3 BHK Ready to Occupy Flat for sale in Bollywo...,76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,0.76
65237,2 BHK Ready to Occupy Flat for sale in Friends...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,0.30
65238,3 BHK Ready to Occupy Flat for sale in Affinit...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,1.18

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 65239 non-null  object
 1   Amount(in rupees)     65239 non-null  object
 2   Price (in rupees)     59634 non-null  float64
 3   location              65239 non-null  object
 4   Carpet Area           36141 non-null  object
 5   Status                64951 non-null  object
 6   Floor                 62745 non-null  object
 7   Transaction           65166 non-null  object
 8   Furnishing            64022 non-null  object
 9   facing                39576 non-null  object
 10  overlooking           36910 non-null  object
 11  Society               27610 non-null  object
 12  Bathroom              64789 non-null  object
 13  Balcony               47530 non-null  object
 14  Car Parking           27528 non-null  object
 15  Ownership             41367 non-null  object
 16  Super Area            28977 non-null  object
 17  SalePrice(in Crores)  62432 non-null  float64
dtypes: float64(2), object(16)
memory usage: 9.0+ MB

In [88]:
calculated_area = []

for i in range(df.shape[0]):
    # Extract values
    sale_price_in_rupees = df.iloc[i]["SalePrice(in Crores)"] * 10**7  # Convert crores to rupees
    price_per_sqft = df.iloc[i]["Price (in rupees)"]
    
    # Check if either value is NaN
    if np.isnan(sale_price_in_rupees) or np.isnan(price_per_sqft) or price_per_sqft == 0:
        # If NaN or price is zero, append NaN or handle the situation as needed
        calculated_area.append(np.nan)  # Or append 0, or skip the row if preferred
    else:
        # Calculate the area, round it, and convert to integer
        calculated_area.append(int(round(sale_price_in_rupees / price_per_sqft)))

In [89]:
calculated_area

[700,
 710,
 800,
 2050,
 780,
 430,
 918,
 950,
 740,
 600,
 930,
 1000,
 nan,
 1700,
 2850,
 1950,
 1000,
 794,
 2045,
 2025,
 900,
 1305,
 900,
 1377,
 600,
 1650,
 1600,
 1188,
 1600,
 1170,
 654,
 1705,
 1705,
 1180,
 603,
 765,
 882,
 3538,
 2164,
 1485,
 721,
 1035,
 720,
 585,
 972,
 3800,
 720,
 1450,
 1050,
 747,
 1395,
 720,
 nan,
 585,
 1728,
 1180,
 900,
 5500,
 nan,
 900,
 1250,
 1474,
 1790,
 1350,
 nan,
 1500,
 1660,
 4500,
 1975,
 1188,
 1260,
 1300,
 1843,
 1372,
 720,
 1440,
 1665,
 990,
 1080,
 1000,
 1250,
 1143,
 1305,
 1747,
 1746,
 1216,
 1450,
 3064,
 nan,
 990,
 3591,
 1035,
 1872,
 666,
 1200,
 595,
 2043,
 1180,
 900,
 1210,
 1179,
 1665,
 1095,
 1262,
 3230,
 nan,
 1575,
 1665,
 nan,
 970,
 2050,
 2079,
 2079,
 2050,
 2100,
 2045,
 1027,
 1890,
 1900,
 1300,
 1890,
 1350,
 1305,
 1485,
 1500,
 1206,
 1260,
 nan,
 1698,
 nan,
 2075,
 2433,
 1440,
 3650,
 642,
 1224,
 1745,
 1800,
 1857,
 2100,
 1845,
 810,
 nan,
 4060,
 1125,
 1490,
 1800,
 1305,
 152,
 145,
 152,
 1305,
 1810,
 2970,
 774,
 1600,
 4000,
 1890,
 6111,
 6111,
 6489,
 4060,
 1665,
 6111,
 1062,
 1530,
 1290,
 792,
 1980,
 2034,
 3600,
 1310,
 nan,
 2200,
 1200,
 981,
 2430,
 1080,
 1035,
 2709,
 2340,
 945,
 1215,
 1600,
 1125,
 1000,
 972,
 1064,
 1557,
 2000,
 1000,
 1575,
 1500,
 2012,
 1500,
 nan,
 1224,
 1350,
 1224,
 1215,
 1075,
 1179,
 1215,
 nan,
 1860,
 1300,
 1215,
 1188,
 1467,
 600,
 1215,
 925,
 999,
 1260,
 1260,
 2211,
 1650,
 2041,
 nan,
 654,
 654,
 1725,
 1980,
 1435,
 612,
 1500,
 990,
 106,
 1188,
 1076,
 657,
 1188,
 2211,
 790,
 nan,
 1494,
 1170,
 1170,
 1170,
 1350,
 1710,
 nan,
 903,
 nan,
 2200,
 1100,
 1262,
 1450,
 1098,
 1098,
 3150,
 2574,
 2000,
 3697,
 4508,
 1350,
 1250,
 765,
 1395,
 3800,
 1260,
 3500,
 1395,
 1098,
 1435,
 3550,
 1185,
 1056,
 700,
 1100,
 1000,
 nan,
 650,
 nan,
 1070,
 2460,
 1260,
 1350,
 3087,
 2415,
 5450,
 2100,
 2075,
 765,
 1200,
 1485,
 2025,
 1611,
 3382,
 702,
 1450,
 3638,
 1885,
 495,
 990,
 2781,
 1227,
 3151,
 1150,
 nan,
 1260,
 1215,
 1215,
 1215,
 2322,
 3525,
 3492,
 765,
 nan,
 1985,
 1260,
 3060,
 2623,
 1585,
 7506,
 1260,
 1100,
 1230,
 1233,
 1960,
 2400,
 2250,
 2850,
 3150,
 2118,
 3140,
 nan,
 1215,
 1680,
 1476,
 1035,
 1210,
 1170,
 1179,
 1989,
 1530,
 1729,
 2340,
 1615,
 nan,
 2250,
 1900,
 1705,
 1750,
 2025,
 2025,
 1260,
 1400,
 1125,
 1242,
 1215,
 1503,
 1500,
 1315,
 1665,
 1170,
 1890,
 1350,
 1350,
 2520,
 nan,
 1143,
 1698,
 1500,
 2322,
 3523,
 256,
 nan,
 747,
 3618,
 1755,
 2080,
 1230,
 nan,
 1440,
 1980,
 4500,
 4300,
 4300,
 4300,
 1845,
 4500,
 1665,
 1665,
 1650,
 1689,
 1435,
 1800,
 900,
 1880,
 1980,
 1600,
 1108,
 14544,
 nan,
 1980,
 3042,
 3060,
 82,
 423,
 2357,
 990,
 945,
 1965,
 2010,
 2160,
 2015,
 2013,
 1000,
 3538,
 1230,
 4822,
 1220,
 1250,
 1436,
 3701,
 925,
 1520,
 1120,
 2340,
 1250,
 1035,
 1107,
 1107,
 1044,
 1510,
 1450,
 nan,
 2322,
 2322,
 2322,
 1107,
 1170,
 1413,
 3591,
 756,
 1080,
 1080,
 1865,
 1000,
 1170,
 1100,
 810,
 5220,
 1449,
 nan,
 1175,
 nan,
 3510,
 2065,
 1161,
 1260,
 nan,
 500,
 1746,
 1161,
 1435,
 1368,
 4500,
 1770,
 2610,
 380,
 2200,
 876,
 1260,
 1935,
 1260,
 1050,
 1683,
 1729,
 1574,
 3771,
 1485,
 3850,
 2635,
 3391,
 1755,
 2100,
 1932,
 2000,
 1381,
 1381,
 1381,
 1381,
 1604,
 1685,
 nan,
 1550,
 1053,
 2880,
 1175,
 1815,
 1730,
 2654,
 1053,
 1143,
 1098,
 1395,
 1935,
 1150,
 6720,
 4508,
 500,
 1305,
 nan,
 1230,
 1250,
 1170,
 1250,
 1170,
 1215,
 1170,
 1729,
 3105,
 1125,
 640,
 1485,
 1746,
 1435,
 6128,
 1800,
 nan,
 1175,
 4495,
 1729,
 657,
 675,
 585,
 702,
 2000,
 2250,
 970,
 1710,
 700,
 1470,
 1780,
 2924,
 1170,
 1755,
 1050,
 2900,
 3807,
 1125,
 nan,
 1650,
 2700,
 1935,
 5600,
 1250,
 4410,
 2118,
 1105,
 1224,
 4185,
 1175,
 925,
 1530,
 2070,
 2070,
 2070,
 1200,
 1481,
 1332,
 1705,
 675,
 1185,
 1300,
 nan,
 1500,
 1180,
 1300,
 3060,
 1215,
 2771,
 495,
 972,
 nan,
 1100,
 nan,
 125,
 nan,
 nan,
 1899,
 1737,
 2442,
 3915,
 3915,
 3910,
 3915,
 3915,
 3915,
 1944,
 1953,
 2070,
 2564,
 1260,
 1350,
 300,
 3537,
 1143,
 2165,
 nan,
 1455,
 nan,
 1557,
 925,
 1368,
 3900,
 1340,
 2065,
 714,
 1027,
 4400,
 1125,
 3469,
 2158,
 nan,
 3270,
 810,
 12500,
 4000,
 3538,
 1210,
 1206,
 1188,
 1450,
 3850,
 4171,
 4171,
 4171,
 1270,
 1710,
 1620,
 2350,
 2350,
 2350,
 2350,
 nan,
 1313,
 2025,
 2124,
 981,
 nan,
 3230,
 963,
 1755,
 1100,
 1064,
 2025,
 2133,
 1665,
 1035,
 4171,
 4171,
 818,
 1262,
 1332,
 969,
 770,
 7431,
 1945,
 3800,
 2350,
 1313,
 1200,
 65,
 1968,
 1968,
 4400,
 1760,
 2079,
 1295,
 355,
 1350,
 nan,
 1000,
 nan,
 1881,
 1845,
 1850,
 1505,
 1506,
 1260,
 1800,
 1080,
 1170,
 720,
 nan,
 1300,
 nan,
 1530,
 1615,
 nan,
 1170,
 nan,
 2250,
 2250,
 nan,
 2010,
 2250,
 2250,
 3151,
 1350,
 2931,
 1035,
 1152,
 4400,
 1044,
 1278,
 1215,
 1035,
 1250,
 2938,
 1100,
 3800,
 1215,
 2034,
 646,
 2643,
 1350,
 4000,
 1683,
 1035,
 900,
 1200,
 1260,
 1485,
 1230,
 nan,
 702,
 1185,
 1960,
 nan,
 nan,
 1874,
 1175,
 3677,
 1170,
 1710,
 1080,
 3650,
 1440,
 1125,
 1436,
 1630,
 nan,
 1971,
 1215,
 1300,
 1350,
 861,
 1170,
 1215,
 2250,
 2250,
 1325,
 1000,
 1920,
 721,
 1350,
 1080,
 890,
 1435,
 nan,
 1440,
 1800,
 nan,
 3380,
 1729,
 4608,
 1305,
 1400,
 2700,
 3000,
 715,
 6000,
 2310,
 1435,
 6728,
 1033,
 2494,
 1413,
 1080,
 1134,
 1980,
 1197,
 3151,
 5900,
 2100,
 2800,
 927,
 1440,
 1530,
 nan,
 1650,
 1815,
 nan,
 810,
 1215,
 2844,
 1425,
 2529,
 2304,
 1233,
 2214,
 5100,
 1179,
 1602,
 nan,
 4275,
 315,
 1980,
 1215,
 1035,
 nan,
 1224,
 650,
 646,
 900,
 1305,
 2295,
 1575,
 2500,
 1301,
 5881,
 2000,
 2292,
 5341,
 366,
 2880,
 2050,
 2050,
 2230,
 3447,
 1980,
 1425,
 1840,
 1377,
 4508,
 1093,
 1187,
 1782,
 1918,
 1665,
 754,
 1053,
 1548,
 3140,
 1701,
 1845,
 1414,
 1350,
 2100,
 1548,
 1100,
 1140,
 864,
 2014,
 1350,
 6989,
 1125,
 1350,
 1880,
 3991,
 1890,
 1134,
 4760,
 630,
 774,
 774,
 747,
 2700,
 700,
 nan,
 1260,
 1125,
 1600,
 4113,
 1170,
 1430,
 648,
 1435,
 1430,
 2800,
 2700,
 4200,
 3000,
 2100,
 4526,
 1935,
 1215,
 1200,
 6000,
 1885,
 2034,
 5100,
 1188,
 1125,
 nan,
 nan,
 1180,
 1845,
 1550,
 1471,
 1125,
 855,
 990,
 1372,
 1728,
 1260,
 1260,
 nan,
 nan,
 1494,
 1485,
 1485,
 1485,
 1143,
 1180,
 1507,
 2655,
 1050,
 1053,
 1620,
 1170,
 3650,
 nan,
 1710,
 2000,
 1845,
 1440,
 1116,
 2880,
 1840,
 1332,
 nan,
 1175,
 1698,
 1850,
 nan,
 1615,
 6724,
 nan,
 720,
 1076,
 646,
 2999,
 1820,
 nan,
 1806,
 nan,
 2685,
 1090,
 nan,
 2565,
 1262,
 3231,
 936,
 1440,
 1100,
 1100,
 1395,
 1080,
 1200,
 775,
 981,
 1215,
 595,
 2099,
 4400,
 2772,
 1080,
 1200,
 1242,
 1188,
 954,
 945,
 nan,
 630,
 1647,
 1980,
 2025,
 1920,
 nan,
 1809,
 1278,
 1361,
 700,
 720,
 3300,
 1027,
 nan,
 999,
 1216,
 95,
 1161,
 1350,
 1640,
 1161,
 1185,
 ...]

In [90]:
df["Area(in sqft)"] = calculated_area

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\3041350290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Area(in sqft)"] = calculated_area

In [91]:
df

,Title,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,SalePrice(in Crores),Area(in sqft)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,0.42,700.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,0.98,710.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,1.40,800.0
3,3 BHK Ready to Occupy Flat for sale in Crystal...,3.10 Cr,15122.0,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,2050 sqft,3.10,2050.0
4,2 BHK Ready to Occupy Flat for sale in Sunrise...,95 Lac,12179.0,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,0.95,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,3 BHK Ready to Occupy Flat for sale in Bollywo...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,0.63,1953.0
65235,3 BHK Ready to Occupy Flat for sale in Sushma ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,0.55,1680.0
65236,3 BHK Ready to Occupy Flat for sale in Bollywo...,76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,0.76,1750.0
65237,2 BHK Ready to Occupy Flat for sale in Friends...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,0.30,709.0
65238,3 BHK Ready to Occupy Flat for sale in Affinit...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,1.18,1915.0

In [92]:
df.drop(columns=["Amount(in rupees)","Price (in rupees)", "Super Area"], inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\1114621130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Amount(in rupees)","Price (in rupees)", "Super Area"], inplace=True)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 65239 non-null  object
 1   location              65239 non-null  object
 2   Carpet Area           36141 non-null  object
 3   Status                64951 non-null  object
 4   Floor                 62745 non-null  object
 5   Transaction           65166 non-null  object
 6   Furnishing            64022 non-null  object
 7   facing                39576 non-null  object
 8   overlooking           36910 non-null  object
 9   Society               27610 non-null  object
 10  Bathroom              64789 non-null  object
 11  Balcony               47530 non-null  object
 12  Car Parking           27528 non-null  object
 13  Ownership             41367 non-null  object
 14  SalePrice(in Crores)  62432 non-null  float64
 15  Area(in sqft)         59623 non-null  float64
dtypes: float64(2), object(14)
memory usage: 8.0+ MB

In [94]:
df

,Title,location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0
3,3 BHK Ready to Occupy Flat for sale in Crystal...,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0
4,2 BHK Ready to Occupy Flat for sale in Sunrise...,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,3 BHK Ready to Occupy Flat for sale in Bollywo...,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0
65235,3 BHK Ready to Occupy Flat for sale in Sushma ...,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0
65236,3 BHK Ready to Occupy Flat for sale in Bollywo...,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0
65237,2 BHK Ready to Occupy Flat for sale in Friends...,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0
65238,3 BHK Ready to Occupy Flat for sale in Affinit...,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0

In [95]:
df["Title"]

0        1 BHK Ready to Occupy Flat for sale in Srushti...
1        2 BHK Ready to Occupy Flat for sale in Dosti V...
2        2 BHK Ready to Occupy Flat for sale in Sunrise...
3        3 BHK Ready to Occupy Flat for sale in Crystal...
4        2 BHK Ready to Occupy Flat for sale in Sunrise...
                               ...
65234    3 BHK Ready to Occupy Flat for sale in Bollywo...
65235    3 BHK Ready to Occupy Flat for sale in Sushma ...
65236    3 BHK Ready to Occupy Flat for sale in Bollywo...
65237    2 BHK Ready to Occupy Flat for sale in Friends...
65238    3 BHK Ready to Occupy Flat for sale in Affinit...
Name: Title, Length: 65239, dtype: object

In [96]:
# Convert to lowercase
df['Title'] = df['Title'].str.lower()

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\3709255195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Title'] = df['Title'].str.lower()

In [97]:
# Remove leading/trailing whitespaces
df['Title'] = df['Title'].str.strip()

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\3611545730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Title'] = df['Title'].str.strip()

In [98]:
# Remove special characters (non-alphanumeric)
df['Title'] = df['Title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\2723998613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Title'] = df['Title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

In [99]:
# Fill missing values with 'Unknown'
df['Title'].fillna('Unknown', inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\159868999.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Title'].fillna('Unknown', inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_12920\159868999.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Title'].fillna('Unknown', inplace=True)

In [100]:
df["Title"]

0        1 bhk ready to occupy flat for sale in srushti...
1        2 bhk ready to occupy flat for sale in dosti v...
2        2 bhk ready to occupy flat for sale in sunrise...
3        3 bhk ready to occupy flat for sale in crystal...
4        2 bhk ready to occupy flat for sale in sunrise...
                               ...
65234    3 bhk ready to occupy flat for sale in bollywo...
65235    3 bhk ready to occupy flat for sale in sushma ...
65236    3 bhk ready to occupy flat for sale in bollywo...
65237    2 bhk ready to occupy flat for sale in friends...
65238    3 bhk ready to occupy flat for sale in affinit...
Name: Title, Length: 65239, dtype: object

In [101]:
import re
import numpy as np

# Function to extract the number of BHK
def extract_bhk(title):
    # Search for the pattern of number followed by 'bhk'
    match = re.search(r'(\d+)\s*bhk', title.lower())  # Convert title to lowercase to avoid case issues
    if match:
        return int(match.group(1))  # Return the number of BHK as integer
    else:
        return np.nan  # Return NaN if no match is found

# Apply the function to the 'Title' column and create a new 'BHK' column
df['BHK'] = df['Title'].apply(extract_bhk)

# Check the results
print(df[['Title', 'BHK']].head())

                                               Title  BHK
0  1 bhk ready to occupy flat for sale in srushti...  1.0
1  2 bhk ready to occupy flat for sale in dosti v...  2.0
2  2 bhk ready to occupy flat for sale in sunrise...  2.0
3  3 bhk ready to occupy flat for sale in crystal...  3.0
4  2 bhk ready to occupy flat for sale in sunrise...  2.0

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\1616651311.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BHK'] = df['Title'].apply(extract_bhk)

In [102]:
df

,Title,location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,1 bhk ready to occupy flat for sale in srushti...,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,2 bhk ready to occupy flat for sale in dosti v...,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,2 bhk ready to occupy flat for sale in sunrise...,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,3 bhk ready to occupy flat for sale in crystal...,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,2 bhk ready to occupy flat for sale in sunrise...,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,3 bhk ready to occupy flat for sale in bollywo...,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,3 bhk ready to occupy flat for sale in sushma ...,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,3 bhk ready to occupy flat for sale in bollywo...,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,2 bhk ready to occupy flat for sale in friends...,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,3 bhk ready to occupy flat for sale in affinit...,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0

In [103]:
df["BHK"].value_counts()

BHK
3.0     27959
2.0     25285
4.0      5785
1.0      5204
5.0       558
6.0        82
10.0       41
7.0        14
8.0         7
9.0         7
Name: count, dtype: int64

In [104]:
df['BHK'].fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown'

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\806664903.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BHK'].fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown'
C:\Users\acer\AppData\Local\Temp\ipykernel_12920\806664903.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['BHK'].fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown'
C:\Users\acer\AppData\Local\Temp\ipykernel_12920\806664903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BHK'].fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown'

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 65239 non-null  object
 1   location              65239 non-null  object
 2   Carpet Area           36141 non-null  object
 3   Status                64951 non-null  object
 4   Floor                 62745 non-null  object
 5   Transaction           65166 non-null  object
 6   Furnishing            64022 non-null  object
 7   facing                39576 non-null  object
 8   overlooking           36910 non-null  object
 9   Society               27610 non-null  object
 10  Bathroom              64789 non-null  object
 11  Balcony               47530 non-null  object
 12  Car Parking           27528 non-null  object
 13  Ownership             41367 non-null  object
 14  SalePrice(in Crores)  62432 non-null  float64
 15  Area(in sqft)         59623 non-null  float64
 16  BHK                   65239 non-null  object
dtypes: float64(2), object(15)
memory usage: 8.5+ MB

In [106]:
df.drop(columns=["Title"], inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\2571242740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Title"], inplace=True)

In [107]:
df

,location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,thane,NaN,Ready to Move,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,thane,530 sqft,Ready to Move,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0

In [108]:
df["Status"].value_counts()

Status
Ready to Move    64951
Name: count, dtype: int64

In [109]:
# only 1 value in status column
df.drop(columns=["Status"], inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\4135043031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Status"], inplace=True)

In [110]:
df

,location,Carpet Area,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,thane,500 sqft,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,thane,473 sqft,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,thane,779 sqft,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,thane,NaN,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,thane,530 sqft,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,zirakpur,NaN,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,zirakpur,1250 sqft,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,zirakpur,NaN,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,zirakpur,NaN,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           36141 non-null  object
 2   Floor                 62745 non-null  object
 3   Transaction           65166 non-null  object
 4   Furnishing            64022 non-null  object
 5   facing                39576 non-null  object
 6   overlooking           36910 non-null  object
 7   Society               27610 non-null  object
 8   Bathroom              64789 non-null  object
 9   Balcony               47530 non-null  object
 10  Car Parking           27528 non-null  object
 11  Ownership             41367 non-null  object
 12  SalePrice(in Crores)  62432 non-null  float64
 13  Area(in sqft)         59623 non-null  float64
 14  BHK                   65239 non-null  object
dtypes: float64(2), object(13)
memory usage: 7.5+ MB

In [112]:
df.to_csv("cleaned.csv", index=False)

In [113]:
carpet_area = []
for i in range(df.shape[0]):
    # Access the value using iloc to avoid KeyError
    c_area = df.iloc[i]["Carpet Area"]
    
    # Convert c_area to string to handle both numeric and non-numeric values
    c_area_str = str(c_area)
    
    # Check if there's any numeric value in the string (handles decimals, commas, etc.)
    if bool(re.search(r'\d', c_area_str)):  # If there is any digit in the string
        # Split the amount into value and unit
        split_c_area = c_area_str.split()
        
        # Check if the unit is 'sqft'
        if len(split_c_area) == 2 and split_c_area[1].lower() == 'sqft':
            # Convert the amount to float and append only the numeric value
            carpet_area.append(float(split_c_area[0]))
        else:
            # If the unit is not recognized, append NaN or a default value
            carpet_area.append(np.nan)
    else:
        # If no numeric value is found (e.g., 'Call for Price'), set to NaN
        carpet_area.append(np.nan)

In [114]:
df["Carpet Area"] = carpet_area

C:\Users\acer\AppData\Local\Temp\ipykernel_12920\2223348781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Carpet Area"] = carpet_area

In [115]:
df

,location,Carpet Area,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,thane,500.0,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,thane,473.0,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,thane,779.0,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,thane,NaN,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,thane,530.0,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,zirakpur,NaN,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,zirakpur,1250.0,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,zirakpur,NaN,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,zirakpur,NaN,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Floor                 62745 non-null  object
 3   Transaction           65166 non-null  object
 4   Furnishing            64022 non-null  object
 5   facing                39576 non-null  object
 6   overlooking           36910 non-null  object
 7   Society               27610 non-null  object
 8   Bathroom              64789 non-null  object
 9   Balcony               47530 non-null  object
 10  Car Parking           27528 non-null  object
 11  Ownership             41367 non-null  object
 12  SalePrice(in Crores)  62432 non-null  float64
 13  Area(in sqft)         59623 non-null  float64
 14  BHK                   65239 non-null  object
dtypes: float64(3), object(12)
memory usage: 7.5+ MB

In [117]:
df["Floor"].value_counts()

Floor
1 out of 4      3839
2 out of 4      3794
3 out of 4      3002
2 out of 3      2342
1 out of 3      2266
                ...
7 out of 34        1
21 out of 31       1
1 out of 34        1
29 out of 36       1
28 out of 39       1
Name: count, Length: 832, dtype: int64

In [118]:
df.to_csv("clean.csv", index=False)

In [119]:
df

,location,Carpet Area,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,thane,500.0,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,thane,473.0,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,thane,779.0,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,thane,NaN,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,thane,530.0,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,zirakpur,NaN,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,zirakpur,1250.0,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,zirakpur,NaN,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,zirakpur,NaN,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0