In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("clean.csv")

In [6]:
df

,location,Carpet Area,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK
0,thane,500.0,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0
1,thane,473.0,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0
2,thane,779.0,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0
3,thane,NaN,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0
4,thane,530.0,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0
65235,zirakpur,NaN,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0
65236,zirakpur,1250.0,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0
65237,zirakpur,NaN,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0
65238,zirakpur,NaN,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Floor                 62745 non-null  object
 3   Transaction           65166 non-null  object
 4   Furnishing            64022 non-null  object
 5   facing                39576 non-null  object
 6   overlooking           36910 non-null  object
 7   Society               27610 non-null  object
 8   Bathroom              64789 non-null  object
 9   Balcony               47530 non-null  object
 10  Car Parking           27528 non-null  object
 11  Ownership             41367 non-null  object
 12  SalePrice(in Crores)  62432 non-null  float64
 13  Area(in sqft)         59623 non-null  float64
 14  BHK                   65239 non-null  object
dtypes: float64(3), object(12)
memory usage: 7.5+ MB

In [10]:
df["Floor"][0].split()[0]

'10'

In [47]:
import re
import numpy as np

flat_floor = []
total_floors = []
error = []
basement = []

for i in range(df.shape[0]):
    floor = df.iloc[i]["Floor"]
    floor_str = str(floor).lower()

    try:
        # Split the floor entry into parts
        split_floor = floor_str.split()

        # Handle "basement" cases
        if 'basement' in split_floor:
            basement.append(True)
            if 'upper' in split_floor:
                flat_floor.append(-1)  # Upper basement
            elif 'lower' in split_floor:
                flat_floor.append(-2)  # Lower basement
            else:
                flat_floor.append(-1)  # Default basement level
            # Extract total floors if present
            total_floors.append(
                int(split_floor[-1]) if len(split_floor) > 1 and re.search(r'\d', split_floor[-1]) else np.nan
            )

        # Handle "ground floor" cases
        elif 'ground' in split_floor:
            basement.append(False)
            flat_floor.append(0)  # Ground level
            # Extract total floors if present
            total_floors.append(
                int(split_floor[-1]) if len(split_floor) > 1 and re.search(r'\d', split_floor[-1]) else np.nan
            )

        # Handle numeric floors
        elif re.search(r'\d', floor_str):
            basement.append(False)
            flat_floor.append(int(re.search(r'\d+', split_floor[0]).group()))  # Extract numeric floor
            total_floors.append(
                int(split_floor[-1]) if len(split_floor) > 1 and re.search(r'\d', split_floor[-1]) else np.nan
            )

        # Log unexpected formats
        else:
            flat_floor.append(np.nan)
            total_floors.append(np.nan)
            basement.append(False)
            error.append(split_floor)

    except Exception as e:
        # Handle unforeseen parsing errors
        flat_floor.append(np.nan)
        total_floors.append(np.nan)
        basement.append(False)
        error.append(f"Error parsing row {i}: {floor_str} - {e}")

In [48]:
print(set(flat_floor))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 45, 50, 200, nan, -1, -2}

In [49]:
df["FlatFloor"] = flat_floor

In [50]:
df["TotalFloors"] = total_floors

In [51]:
df["Basement"] = basement

In [52]:
df

,location,Carpet Area,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement
0,thane,500.0,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0,10.0,11.0,False
1,thane,473.0,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False
2,thane,779.0,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False
3,thane,NaN,10 out of 25,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False
4,thane,530.0,13 out of 26,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False
65235,zirakpur,NaN,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0,4.0,6.0,False
65236,zirakpur,1250.0,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False
65237,zirakpur,NaN,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0,2.0,2.0,False
65238,zirakpur,NaN,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65166 non-null  object
 3   Furnishing            64022 non-null  object
 4   facing                39576 non-null  object
 5   overlooking           36910 non-null  object
 6   Society               27610 non-null  object
 7   Bathroom              64789 non-null  object
 8   Balcony               47530 non-null  object
 9   Car Parking           27528 non-null  object
 10  Ownership             41367 non-null  object
 11  SalePrice(in Crores)  62432 non-null  float64
 12  Area(in sqft)         59623 non-null  float64
 13  BHK                   65239 non-null  object
 14  FlatFloor             62745 non-null  float64
 15  TotalFloors           62698 non-null  float64
 16  Basement              65239 non-null  bool
dtypes: bool(1), float64(5), object(11)
memory usage: 8.0+ MB

In [54]:
df.drop(columns= ["Floor"], inplace= True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65166 non-null  object
 3   Furnishing            64022 non-null  object
 4   facing                39576 non-null  object
 5   overlooking           36910 non-null  object
 6   Society               27610 non-null  object
 7   Bathroom              64789 non-null  object
 8   Balcony               47530 non-null  object
 9   Car Parking           27528 non-null  object
 10  Ownership             41367 non-null  object
 11  SalePrice(in Crores)  62432 non-null  float64
 12  Area(in sqft)         59623 non-null  float64
 13  BHK                   65239 non-null  object
 14  FlatFloor             62745 non-null  float64
 15  TotalFloors           62698 non-null  float64
 16  Basement              65239 non-null  bool
dtypes: bool(1), float64(5), object(11)
memory usage: 8.0+ MB

In [ ]:
# updating the clean csv file
df.to_csv("clean.csv", index=False)

In [58]:
df

,location,Carpet Area,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement
0,thane,500.0,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0,10.0,11.0,False
1,thane,473.0,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False
2,thane,779.0,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False
3,thane,NaN,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False
4,thane,530.0,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0,4.0,6.0,False
65236,zirakpur,1250.0,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False
65237,zirakpur,NaN,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0,2.0,2.0,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False

In [59]:
df["Bathroom"].value_counts()

Bathroom
2       33064
3       19019
1        6359
4        4797
5        1278
6         187
> 10       31
7          27
8          10
10         10
9           7
Name: count, dtype: int64

In [63]:
df["Transaction"] = df["Transaction"].fillna("Unknown")

In [69]:
df.isnull().sum()

location                    0
Carpet Area             30657
Transaction                 0
Furnishing                  0
facing                  25663
overlooking             28329
Society                 37629
Bathroom                  450
Balcony                 17709
Car Parking             37711
Ownership               23872
SalePrice(in Crores)     2807
Area(in sqft)            5616
BHK                         0
FlatFloor                2494
TotalFloors              2541
Basement                    0
dtype: int64

In [67]:
df["Furnishing"].fillna("Unknown", inplace= True)

In [68]:
df["Furnishing"].value_counts()

Furnishing
Semi-Furnished    28242
Unfurnished       26972
Furnished          8808
Unknown            1217
Name: count, dtype: int64

In [73]:
df["facing"].fillna("Not Informed", inplace= True)

In [75]:
df["facing"].value_counts()

facing
Not Informed    25663
East            17918
North - East     8380
North            5438
West             3149
South            1654
South - East     1236
North - West     1158
South -West       643
Name: count, dtype: int64

In [76]:
df.isnull().sum()

location                    0
Carpet Area             30657
Transaction                 0
Furnishing                  0
facing                      0
overlooking             28329
Society                 37629
Bathroom                  450
Balcony                 17709
Car Parking             37711
Ownership               23872
SalePrice(in Crores)     2807
Area(in sqft)            5616
BHK                         0
FlatFloor                2494
TotalFloors              2541
Basement                    0
dtype: int64

In [77]:
df["overlooking"].value_counts()

overlooking
Main Road                                      11740
Garden/Park, Main Road                          8452
Garden/Park                                     7831
Garden/Park, Pool, Main Road                    4523
Pool, Garden/Park, Main Road                    1534
Garden/Park, Pool                               1327
Pool, Garden/Park                                355
Main Road, Garden/Park                           345
Pool                                             343
Main Road, Garden/Park, Pool                     203
Pool, Main Road                                  190
Garden/Park, Main Road, Pool                      35
Main Road, Pool                                   11
Main Road, Pool, Garden/Park                       8
Pool, Main Road, Garden/Park                       6
Main Road, Not Available                           4
Garden/Park, Pool, Main Road, Not Available        1
Garden/Park, Not Available                         1
Pool, Main Road, Not Available                     1
Name: count, dtype: int64

In [84]:
# Function to check if a specific feature exists in 'overlooking'
def check_overlook_feature(value, feature):
    if pd.isna(value) or value == "" or value.strip() == "Not Available":
        return "Not Available"
    elif feature in value:
        return True
    return False

# Apply the function to create new columns for each feature
df['Main Road'] = df['overlooking'].apply(lambda x: check_overlook_feature(x, "Main Road"))
df['Garden/Park'] = df['overlooking'].apply(lambda x: check_overlook_feature(x, "Garden/Park"))
df['Pool'] = df['overlooking'].apply(lambda x: check_overlook_feature(x, "Pool"))

In [85]:
df

,location,Carpet Area,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool
0,thane,500.0,Resale,Unfurnished,Not Informed,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False
2,thane,779.0,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False
3,thane,NaN,New Property,Unfurnished,East,"Pool, Garden/Park, Main Road",Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True
4,thane,530.0,Resale,Semi-Furnished,East,"Pool, Garden/Park, Main Road",Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0,4.0,6.0,False,True,True,False
65236,zirakpur,1250.0,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Main Road,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0,2.0,2.0,False,True,False,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True

In [86]:
df.drop(columns=["overlooking"], inplace= True)

In [87]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,NaN,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,NaN,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,NaN,1 Covered,NaN,0.55,1680.0,3.0,4.0,6.0,False,True,True,False
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,NaN,NaN,NaN,0.30,709.0,2.0,2.0,2.0,False,True,False,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65239 non-null  object
 3   Furnishing            65239 non-null  object
 4   facing                65239 non-null  object
 5   Society               65239 non-null  object
 6   Bathroom              65239 non-null  object
 7   Balcony               65239 non-null  object
 8   Car Parking           27528 non-null  object
 9   Ownership             41367 non-null  object
 10  SalePrice(in Crores)  62432 non-null  float64
 11  Area(in sqft)         59623 non-null  float64
 12  BHK                   65239 non-null  object
 13  FlatFloor             62745 non-null  float64
 14  TotalFloors           62698 non-null  float64
 15  Basement              65239 non-null  bool
 16  Main Road             65239 non-null  object
 17  Garden/Park           65239 non-null  object
 18  Pool                  65239 non-null  object
dtypes: bool(1), float64(5), object(13)
memory usage: 9.0+ MB

In [93]:
df["Society"].fillna("N\\A", inplace=True)

In [95]:
df["Bathroom"].fillna("N\\A", inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_1432\3543411062.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Bathroom"].fillna("N\\A", inplace=True)

In [99]:
df["Balcony"].fillna("0", inplace=True)

In [101]:
df["Car Parking"].value_counts()

Car Parking
1 Covered      15097
1 Covered,      4009
1 Open          3159
2 Covered       2809
2 Covered,       866
               ...
206 Covered        1
205 Covered        1
11 Covered,        1
403 Covered        1
702 Open           1
Name: count, Length: 225, dtype: int64

In [102]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,1 Covered,NaN,0.55,1680.0,3.0,4.0,6.0,False,True,True,False
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,NaN,NaN,0.30,709.0,2.0,2.0,2.0,False,True,False,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True

In [105]:
df["Ownership"].fillna("N\\A", inplace= True)

In [106]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,NaN,N\A,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,1 Covered,N\A,0.55,1680.0,3.0,4.0,6.0,False,True,True,False
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,NaN,N\A,0.30,709.0,2.0,2.0,2.0,False,True,False,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True

In [109]:
df["location"].value_counts()

location
greater-noida    2970
faridabad        2970
chennai          2968
jaipur           2967
new-delhi        2967
                 ...
nellore            30
solapur            30
thane              11
mumbai              4
navi-mumbai         2
Name: count, Length: 80, dtype: int64

In [111]:
df["Car Parking"].value_counts()

Car Parking
1 Covered      15097
1 Covered,      4009
1 Open          3159
2 Covered       2809
2 Covered,       866
               ...
206 Covered        1
205 Covered        1
11 Covered,        1
403 Covered        1
702 Open           1
Name: count, Length: 225, dtype: int64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65239 non-null  object
 3   Furnishing            65239 non-null  object
 4   facing                65239 non-null  object
 5   Society               65239 non-null  object
 6   Bathroom              65239 non-null  object
 7   Balcony               65239 non-null  object
 8   Car Parking           27528 non-null  object
 9   Ownership             65239 non-null  object
 10  SalePrice(in Crores)  62432 non-null  float64
 11  Area(in sqft)         59623 non-null  float64
 12  BHK                   65239 non-null  object
 13  FlatFloor             62745 non-null  float64
 14  TotalFloors           62698 non-null  float64
 15  Basement              65239 non-null  bool
 16  Main Road             65239 non-null  object
 17  Garden/Park           65239 non-null  object
 18  Pool                  65239 non-null  object
dtypes: bool(1), float64(5), object(13)
memory usage: 9.0+ MB

In [ ]:
# updating the dataset
df.to_csv("clean.csv", index=False)

In [19]:
df = pd.read_csv("clean.csv")

In [20]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Car Parking,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,NaN,N\A,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,1 Open,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,NaN,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,1 Covered,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,1 Covered,N\A,0.55,1680.0,3.0,4.0,6.0,False,True,True,False
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,"1 Covered,",Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,NaN,N\A,0.30,709.0,2.0,2.0,2.0,False,True,False,False
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,1 Covered,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65239 non-null  object
 3   Furnishing            65239 non-null  object
 4   facing                65239 non-null  object
 5   Society               65239 non-null  object
 6   Bathroom              65239 non-null  object
 7   Balcony               65239 non-null  object
 8   Car Parking           27528 non-null  object
 9   Ownership             65239 non-null  object
 10  SalePrice(in Crores)  62432 non-null  float64
 11  Area(in sqft)         59623 non-null  float64
 12  BHK                   65239 non-null  object
 13  FlatFloor             62745 non-null  float64
 14  TotalFloors           62698 non-null  float64
 15  Basement              65239 non-null  bool
 16  Main Road             65239 non-null  object
 17  Garden/Park           65239 non-null  object
 18  Pool                  65239 non-null  object
dtypes: bool(1), float64(5), object(13)
memory usage: 9.0+ MB

In [21]:
df["Car Parking"].fillna("Not Available").value_counts()

Car Parking
Not Available    37711
1 Covered        15097
1 Covered,        4009
1 Open            3159
2 Covered         2809
                 ...
206 Covered          1
205 Covered          1
11 Covered,          1
403 Covered          1
702 Open             1
Name: count, Length: 226, dtype: int64

In [22]:
# Extract numbers from the "Car Parking" column directly
parking_numbers = df["Car Parking"].str.extract(r'(\d+)').fillna(0).astype(int)

In [23]:
df["ParkingNumbers"] = parking_numbers

In [24]:
# Extract parking types from the 'Car Parking' column
df['Parking Type'] = df['Car Parking'].str.extract(r'(Not Available|Covered|Open)')

# Fill any missing parking types with 'Not Available'
df['Parking Type'] = df['Parking Type'].fillna('Not Available')

In [25]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Car Parking,Ownership,...,Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool,ParkingNumbers,Parking Type
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,NaN,N\A,...,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available,0,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,1 Open,Freehold,...,710.0,2.0,3.0,22.0,False,False,True,False,1,Open
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,...,800.0,2.0,10.0,29.0,False,False,True,False,1,Covered
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,NaN,Freehold,...,2050.0,3.0,10.0,25.0,False,True,True,True,0,Not Available
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,1 Covered,Freehold,...,780.0,2.0,13.0,26.0,False,True,True,True,1,Covered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,1 Covered,Freehold,...,1953.0,3.0,2.0,4.0,False,False,True,False,1,Covered
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,1 Covered,N\A,...,1680.0,3.0,4.0,6.0,False,True,True,False,1,Covered
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,"1 Covered,",Freehold,...,1750.0,3.0,1.0,3.0,False,True,True,False,1,Covered
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,NaN,N\A,...,709.0,2.0,2.0,2.0,False,True,False,False,0,Not Available
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,1 Covered,Freehold,...,1915.0,3.0,5.0,13.0,False,False,True,True,1,Covered

In [26]:
df.drop(columns=["Car Parking"], inplace=True)

In [14]:
df

,location,Carpet Area,Transaction,Furnishing,facing,Society,Bathroom,Balcony,Ownership,SalePrice(in Crores),Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool,ParkingNumbers,Parking Type
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,N\A,0.42,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available,0,Not Available
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,Freehold,0.98,710.0,2.0,3.0,22.0,False,False,True,False,1,Open
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,Freehold,1.40,800.0,2.0,10.0,29.0,False,False,True,False,1,Covered
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,Freehold,3.10,2050.0,3.0,10.0,25.0,False,True,True,True,0,Not Available
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,Freehold,0.95,780.0,2.0,13.0,26.0,False,True,True,True,1,Covered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,Freehold,0.63,1953.0,3.0,2.0,4.0,False,False,True,False,1,Covered
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,N\A,0.55,1680.0,3.0,4.0,6.0,False,True,True,False,1,Covered
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,Freehold,0.76,1750.0,3.0,1.0,3.0,False,True,True,False,1,Covered
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,N\A,0.30,709.0,2.0,2.0,2.0,False,True,False,False,0,Not Available
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,Freehold,1.18,1915.0,3.0,5.0,13.0,False,False,True,True,1,Covered

In [28]:
df.insert(19, "SalePrice(in Crores)", df.pop("SalePrice(in Crores)"))

In [29]:
df.columns

Index(['location', 'Carpet Area', 'Transaction', 'Furnishing', 'facing',
       'Society', 'Bathroom', 'Balcony', 'Ownership', 'Area(in sqft)', 'BHK',
       'FlatFloor', 'TotalFloors', 'Basement', 'Main Road', 'Garden/Park',
       'Pool', 'ParkingNumbers', 'Parking Type', 'SalePrice(in Crores)'],
      dtype='object')

In [31]:
df.rename(columns={"location":"Location","facing":"Facing"}, inplace=True)

In [32]:
df

,Location,Carpet Area,Transaction,Furnishing,Facing,Society,Bathroom,Balcony,Ownership,Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool,ParkingNumbers,Parking Type,SalePrice(in Crores)
0,thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,N\A,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available,0,Not Available,0.42
1,thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,Freehold,710.0,2.0,3.0,22.0,False,False,True,False,1,Open,0.98
2,thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,Freehold,800.0,2.0,10.0,29.0,False,False,True,False,1,Covered,1.40
3,thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,Freehold,2050.0,3.0,10.0,25.0,False,True,True,True,0,Not Available,3.10
4,thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,Freehold,780.0,2.0,13.0,26.0,False,True,True,True,1,Covered,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,Freehold,1953.0,3.0,2.0,4.0,False,False,True,False,1,Covered,0.63
65235,zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,N\A,1680.0,3.0,4.0,6.0,False,True,True,False,1,Covered,0.55
65236,zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,Freehold,1750.0,3.0,1.0,3.0,False,True,True,False,1,Covered,0.76
65237,zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,N\A,709.0,2.0,2.0,2.0,False,True,False,False,0,Not Available,0.30
65238,zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,Freehold,1915.0,3.0,5.0,13.0,False,False,True,True,1,Covered,1.18

In [33]:
df["Location"] = df["Location"].str.capitalize()

In [34]:
df

,Location,Carpet Area,Transaction,Furnishing,Facing,Society,Bathroom,Balcony,Ownership,Area(in sqft),BHK,FlatFloor,TotalFloors,Basement,Main Road,Garden/Park,Pool,ParkingNumbers,Parking Type,SalePrice(in Crores)
0,Thane,500.0,Resale,Unfurnished,Not Informed,Srushti Siddhi Mangal Murti Complex,1,2,N\A,700.0,1.0,10.0,11.0,False,Not Available,Not Available,Not Available,0,Not Available,0.42
1,Thane,473.0,Resale,Semi-Furnished,East,Dosti Vihar,2,0,Freehold,710.0,2.0,3.0,22.0,False,False,True,False,1,Open,0.98
2,Thane,779.0,Resale,Unfurnished,East,Sunrise by Kalpataru,2,0,Freehold,800.0,2.0,10.0,29.0,False,False,True,False,1,Covered,1.40
3,Thane,NaN,New Property,Unfurnished,East,Crystal Spires,3,0,Freehold,2050.0,3.0,10.0,25.0,False,True,True,True,0,Not Available,3.10
4,Thane,530.0,Resale,Semi-Furnished,East,Sunrise by Kalpataru,2,0,Freehold,780.0,2.0,13.0,26.0,False,True,True,True,1,Covered,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65234,Zirakpur,NaN,New Property,Semi-Furnished,East,Bollywood Esencia,3,3,Freehold,1953.0,3.0,2.0,4.0,False,False,True,False,1,Covered,0.63
65235,Zirakpur,NaN,Resale,Unfurnished,North - East,Sushma Urban Views,3,0,N\A,1680.0,3.0,4.0,6.0,False,True,True,False,1,Covered,0.55
65236,Zirakpur,1250.0,Resale,Furnished,East,Bollywood Esencia,3,2,Freehold,1750.0,3.0,1.0,3.0,False,True,True,False,1,Covered,0.76
65237,Zirakpur,NaN,Resale,Semi-Furnished,Not Informed,Friends Enclave,2,0,N\A,709.0,2.0,2.0,2.0,False,True,False,False,0,Not Available,0.30
65238,Zirakpur,NaN,Resale,Semi-Furnished,North - East,Affinity Greens,4,4,Freehold,1915.0,3.0,5.0,13.0,False,False,True,True,1,Covered,1.18

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65239 entries, 0 to 65238
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              65239 non-null  object
 1   Carpet Area           34582 non-null  float64
 2   Transaction           65239 non-null  object
 3   Furnishing            65239 non-null  object
 4   Facing                65239 non-null  object
 5   Society               65239 non-null  object
 6   Bathroom              65239 non-null  object
 7   Balcony               65239 non-null  object
 8   Ownership             65239 non-null  object
 9   Area(in sqft)         59623 non-null  float64
 10  BHK                   65239 non-null  object
 11  FlatFloor             62745 non-null  float64
 12  TotalFloors           62698 non-null  float64
 13  Basement              65239 non-null  bool
 14  Main Road             65239 non-null  object
 15  Garden/Park           65239 non-null  object
 16  Pool                  65239 non-null  object
 17  ParkingNumbers        65239 non-null  int64
 18  Parking Type          65239 non-null  object
 19  SalePrice(in Crores)  62432 non-null  float64
dtypes: bool(1), float64(5), int64(1), object(13)
memory usage: 9.5+ MB

In [36]:
df["Main Road"].value_counts()

Main Road
Not Available    28329
True             27053
False             9857
Name: count, dtype: int64

In [ ]:
# final dataset before doing analysis
df.to_csv("clean.csv", index=False)